<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493243078840-mt3vdtiuog5mj7b7fbdl0ri7g5819kta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493243078840-mt3vdtiuog5mj7b7fbdl0ri7g5819kta</string>
	<key>API_KEY</key>
	<string>AIzaSyD_H-5mzxi3nMSCUO4xdcTBn6IqeN3R5_k</string>
	<key>GCM_SENDER_ID</key>
	<string>493243078840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeLine</string>
	<key>PROJECT_ID</key>
	<string>safeline-775d3</string>
	<key>STORAGE_BUCKET</key>
	<string>safeline-775d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493243078840:ios:dd179bfad909f6e601fc4d</string>
</dict>
</plist>